body {
  background: url("background.jpg");
}

#container {
  width: 1024px;
  margin: 0 auto;
}
 
#navigation {
  width: 160px;
  padding: 20px;
  margin: 0 0 20px 0;
  min-height: 400px;
  float: left;
  
  background: white;
  border: 1px solid black;
}

#content {
  width: 760px;
  padding: 20px;
  margin: 0 0 20px 20px;
  min-height: 400px;
  float: left;
  
  background: white;
  border: 1px solid black;
}

#footer {
  width: 982px;
  padding: 20px;
  clear: both;
  
  background: white;
  border: 1px solid black;
}

.shadow {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
  opacity: 0.9;
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 90);
  filter: alpha(opacity = 90);
}

.flash {
  padding: 10px;
}
.error {
  border: 2px solid red;
  color: red;
}
.success {
  border: 2px solid green;
  color: green;
}

input { 
  border-radius: 5px;
  background: #F2F2F2;
}

table {
  margin: 10px 0;
  border: 1px solid #F2F2F2;
}

table.microposts, table.wishlists {
  width: 500px;
}

td.micropost, td.wishlist {
  width: 445px;
}

tr.even_row {
  background: #F3F3F3;
}

small.timestamp {
  display:block;
  text-align: right;
}

/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* User show page */
table {
  width: 100%;
  max-width: 760px;
}
td.main {
  width: 70%;
  padding: 5px;
}
tr {
  height: 30px;
}
td.sidebar {
  width: 30%;
  padding: 5px;
  vertical-align: top;
  background: #EEE;
}
th.name {
  width: 200px;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}