<tr class="<%= cycle("even_row", "odd_row") %>" >
  <td class="wishlist">
    <%= best_in_place( wishlist, :name ) %></span>
  </td>

  <% if current_user?(wishlist.user) %>
    <td>
      <%= link_to "delete", wishlist, :method => :delete,
        :confirm => "You sure?",
        :title => wishlist.name %>
    </td>
  <% end %>
  
</tr>